<div class="recipie-section">
    <% if @recipes.empty? %>
        <h3>You Don't have any recipes Yet</h3>
    <% else %>
        <% @recipes.each do |recipe| %>
            <div class="recipie-main">
                <div class="recipie-title">
                    <h2 class="recipie-name">
                        <%= link_to(recipe.name, recipe_path(recipe)) %>
                    </h2>
                    <% if can? :destroy, recipe %>
                        <%= button_to "Remove", recipe_path(recipe), method: :delete, class: 'Delete-btn' %>
                    <% end %>
                </div>
                <div class="recipie-details">
                    <p class="recipie-description">
                        <%= recipe.description %>
                    </p>
                </div>
            </div>
        <% end %>
    <% end %>
    <div>
        <%= link_to 'Add Recipe', new_recipe_path, class: 'add-recipe-btn'%>
    </div>
</div>