.add_food_container {
  width: 50%;
  margin: 5% auto;
  text-align: center;
  background-color: #173f4e;
  padding: 20px;
}

.add_food_container h1 {
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
  color: white;
}

.errors {
  height: 100px;
}

.errors h2 {
  color: red;
}

.errors ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.errors ul li {
  padding-left: 0;
}

.input_contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.input_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.input_label input {
  width: 100%;
}

.input_label label {
  width: 100%;
  text-align: left;
}

.food_add_btn {
  margin-top: 20px;
  font-size: 23px;
  color: white;
  background-color: black;
  cursor: pointer;
}
